<html>
    <head>
        <title>
            TO-DO LIST
        </title>
    </head>
    <body>
        <h1>Olá! Seja bem-vindo ao criador de tarefas.</h1>
        <h2>Adicionar Nova Tarefa</h2>
        <form action="/create" method="POST">
            <input type="text" name="description" required>
            <button type="submit">Criar Tarefa</button>
        </form>

        <h1>Lista de Tarefas</h1>
        <ul>
            {% for task in tasks %} <!-- quando quer executar um laço de repetição, usa isso -->
                <li>
                    <form action="/update/{{task.id}}" method="POST" style="display: inline;">
                        <input type="text" name="description" value="{{task.description}}">
                        <button type="submit">Atualizar</button>
                    </form>

                    <form action="/delete/{{task.id}}" method="POST" style="display: inline;">
                        <button type="submit">Excluir</button>
                    </form>
                </li> <!-- pra cada task dentro da lista de tasks, imprima a task -->
                {% endfor %}
        </ul>
    </body>
</html>
